
.container {
    margin: 0 auto;

    header {
        padding-top: 40px;

        .main-title {
            text-align: center;
            font-size: 26px;
            padding-bottom: 10px;
            margin-left: 5%;
            margin-right: 5%;
        }

        #user-image-div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6%;
            margin-bottom: 6%;
        }
    }

    .tables-content {

        .subtitle-section {
            margin-left: 10%;
        }

        .subtitle {
            letter-spacing: 1px;
            padding: 20px;
        }

        .table {
            padding-left: 30px;
        } 

        table {
            padding-top: 40px;
            padding-bottom: 30px;

            td {
                padding-bottom: 10px;
                padding-right: 8%;
            }

            .td1 {
                padding-right: 10%;
                color:rgb(124, 29, 29);
                font-weight: bold;
                font-size: 18px;
                
            }

            .td2 {
                background-color: rgba(250, 235, 215, 0.6);
            }

            #jmbg {
                background: rgba(255, 0, 0, 0.204);
            }
        }
   }


    footer {
        padding: 30px;

        .paragraph  {
            padding: 20px 30px 10px; 
            padding-bottom: 10px;
            padding-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 17px;
        }
    }
}

