* { 
    margin-top: 20px;
}

a {
    color: rgb(153, 174, 48);
    text-shadow: bisque 5px 5px 5px;
    text-decoration: none;
    padding: 40px; 
    
}

 a:link {
  color: red;
}

 a:visited {
    color: black;
 }

 a:hover {
    color: green;
 }

 a:active{
    color: blue;
 }