<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div id="one-page-content">

        <nav id="nav-bar">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav> 


        <img src="./images/-web-html5-css3.jpg">
        

        <div id="grid-container">
            <div class="grid-item">
                <div class="grid-item-box" id="box-color-red">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-darkblue">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div id="blog-title-box">
                <p class="box-p">Rebuilding slack.com</p>
                <div class="cros-line"></div>
                <p class="box-p">Zašto bootcamp format?</p>
                <div class="cros-line"></div>
                <p class="box-p">React - prozor u svet web aplikacija</p>
                <div class="cros-line"></div>
                <p class="box-p">Najveće zablude o programerima u Srbiji</p>
                <div class="cros-line"></div>
            </div>

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-yellow">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
           

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-green">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-red">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-darkblue">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-yellow">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            

            <div class="grid-item">
                <div class="grid-item-box" id="box-color-green">
                    <h3>300 x 200</h3>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias repellat, error corporis temporibus natus dolores a et voluptates incidunt eius eveniet aliquam, perferendis unde. Ut assumenda qui labore doloremque facilis? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, quibusdam. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            </div>
            
        </div>

    </div>

    <header>
        <h4>&#169; BitStudent</h4>
    </header>
</body>
</html>