main {
    width: 80%;
    margin: 50px 5px 5px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


 h1 {
    display: inline;
    margin-bottom: 0px;
    font-size: 45px;
   
}

#first_paragraph {
    margin-top: 5px;
}

nav {
    display: flex;
    gap: 40px;
}

img {
    width: 100px;
    height: auto;
    margin-top: -6px;
}

