header {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 10px;
}

#input {
    width: 300px;
    height: 35px;
    border-radius: 30px;
}

#images {
    position: absolute;
    right: 280px;
    padding-bottom: 4px;
}

#input::placeholder {
    padding-left: 60px;
}