body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;
}

ul li {
    display: inline;
}

#navigation-header-section {
    display: grid;
    grid-template-columns: 70% 30%;
}

 #header-image {
    height: 460px;
    width: 67vw;
    border: 2px solid white;
    margin-bottom: 3rem;
}

h2 {
    color: white
}

a {
    color: lightskyblue;
    text-decoration: none;
    padding: 10px;
}

ul {
    margin-top: 25px;
}

a:hover {
    background-color: rgb(80, 178, 238);
    color: white;
    padding: 10px;    
}

.image {
    height: 12.5rem;
    width:auto;
}

.image-item {
    display: inline-block;
}

#gallery {
    display: flex;
    gap: 30px;
    margin-right: 10%;
}

p {
    color: white;
}

@media (max-width : 800px) {
    
#header-image {
    width: 78vw;
    
}

main {
    width: 100%;
    margin: 0 auto;
    margin-left: 10%;
}

#navigation-header-section {
    display: grid;
    grid-template-columns: 48% 39%;
}

#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    
}


.image-item {
    display: flex;
    gap: 30px;
    border: 1px solid lightslategray;
    padding: 10px;
    margin-bottom: 30px;
    margin-right: 11%;
}
p {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

}

@media (max-width: 500px) {
    #header-image {
    height: 50%;
    width: 90%;
    padding: 10px;
}

#navigation-header-section {
    display: grid;
    grid-template-columns: 88%;
    grid-template-rows: auto auto auto;
}

nav {
    grid-row: 4 / -1;
    height: 160px;
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-left: -30px; 
    margin-bottom: 20px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    width: 87%;
    padding-left: 30px;
    
}

a:hover {
    background-color: cornflowerblue;
    color: white;
}

#title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery {
    margin-left: 5%;
}

.image-item {
    display: flex;
    flex-direction: column;
}

.image {
    height: 200px;
}

}