<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./food.html">
    <title>Italian food</title>
</head>
<body>
    <div id="food-link">
        <a href="./food.html">Ricette</a>
    </div>
    <img src="./Images/2.jpg" id="second-img">

    <div class="container"> 
       
        <h1>Ricette di pasta tradizionale italiana</h1>

        <p>Cominciamo con una delle migliori ricette di pasta tradizionali italiane. Il pesto alla trapanese è una salsa tipica siciliana proprio della città di Trapani. È una ricetta antica che ha origine nei porti di Trapani. Le navi genovesi provenienti dall’Oriente si fermarono a Trapani e i marinai genovesi fecero conoscere il pesto ai siciliani. I trapanesi modificarono la ricetta del pesto aggiungendo gli ingredienti tipici del loro territorio. La tradizione dice che tutti gli ingredienti devono essere pestati in un mortaio ma, in mancanza di questo, si può usare un frullatore.</p>

        <img src="./Images/1.jpg" id="first-img">


        <img src="./Images/3.jpg" id="third-img">

        <p>La pasta al pesto è una delle ricette di pasta tradizionale italiana più popolari, facili e sane che ci siano. Si può fare in qualsiasi momento dell’anno, avendo bisogno solo di un barattolo di pesto da avere in casa e un paio di altri ingredienti. La ricetta della pasta al pesto è facile e veloce da fare a casa. È un ottimo piatto di pasta italiana per l’estate, con pasta fredda e pezzi di pomodoro, ma anche per un pranzo o una cena caldi. Puoi anche usare la ricetta del pesto per le bruschette, ma anche per marinare le fette di petto di pollo alla griglia. Vediamo la ricetta della pasta al pesto italiana.</p>

        <p>Ecco un’altra delle ricette tradizionali di pasta. I tortellini in brodo sono uno dei piatti più iconici d’Italia, spesso serviti come primo piatto in Emilia Romagna. È un piatto semplice ma una festa per il palato. In questa regione, i tortellini in brodo sono in realtà uno dei più famosi piatti di pasta tradizionali italiani.

        Prepara il brodo e il ripieno in anticipo, ma la pasta deve essere il più fresca possibile.
        Per il ripieno, frullate insieme il burro fuso con la carne di maiale cotta stagionata e la mortadella fresca, e passate il tutto in un robot da cucina. Poi aggiungere il formaggio italiano grattugiato, un pizzico di noce moscata, l’uovo e il sale e mettere da parte.

        Per fare la pasta, una miscela di uova e farina è tutto ciò che serve, anche se solo anni di pratica possono portare allo spessore e alla consistenza perfetta. Stendere la pasta sottile come la carta e tagliarla in quadrati di 2 pollici.</p>

        <p>Per il ripieno occorrono 2 patate rosse grandi, bollite e raffreddate; 7 foglie di menta fresca, tritate finemente; 80 grammi di pecorino fresco; 80 grammi di pecorino duro; 60 grammi di un formaggio leggermente acido; uno spicchio d’aglio tritato.
        Per chiudere i Culurgiones, bisogna padroneggiare la chiusura a spiga pizzicando e ripiegando la pasta su se stessa.
        I Culurgiones vengono serviti bolliti con pecorino grattugiato – niente olio o burro! Alcuni preferiscono mangiarli con una semplice salsa di pomodoro.</p>

        <p>La pasta alla carbonara è uno dei più famosi piatti di pasta italiani, e una delle migliori e più facili ricette di pasta tradizionale italiana là fuori. Come sappiamo, in tutto il mondo la pasta alla Carbonara viene fatta in modi diversi, con l’uso di ingredienti diversi, come la panna fresca. Tuttavia, qui ci atteniamo alla ricetta tradizionale della Carbonara.</p>

        <p>Gli Spaghetti Cacio e Pepe sono uno dei migliori piatti di pasta della cucina romana. La ricetta richiede letteralmente 3 ingredienti: spaghetti, Cacio (che è pecorino romano), e pepe nero. Cacio e Pepe è una delle più famose ricette di pasta tradizionale italiana che chi è stato a Roma ha sicuramente amato.</p>

        <p>Il segreto per una buona Cacio e Pepe è padroneggiare la salsa di formaggio in modo che risulti cremosa senza grumi.</p>

        <p>Ecco come cucinare la Cacio e Pepe, una ricetta di pasta tradizionale di Roma. do vigorosamente per ottenere una consistenza cremosa.</p>

        <p>Una ricetta di lasagna tradizionale non è difficile da fare ed è super deliziosa, come sappiamo. Ma come fare una lasagna tradizionale alla bolognese a casa? Ecco come fare una delle più famose ricette di piatti di pasta italiani.</p>

        <p>Per prima cosa, è necessario preparare la salsa Besciamella. Iniziate aggiungendo mezza tazza di farina universale a mezza tazza di burro fuso in una padella riscaldata. Mantenete il composto mescolando lentamente in modo che non si bruci.</p>
        
    </div>

    <a href="./index.html"> <img src="./Images/chevron-upwards-arrow (1).png" id="home-link"></a>
     
</body>
</html>