<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>

    <a href="" id="home"></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit fuga labore similique quod neque tempore mollitia laudantium culpa aut ratione provident odit et magnam eveniet excepturi, hic nam rem praesentium?</p>
    <img src="./Images/1.jpg" id="first-img">

    <img src="./Images/2.jpg" id="second-img">

    <img src="./Images/3.jpg" id="third-img">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae iure officiis eaque suscipit? Sed non excepturi, facere dignissimos vel in hic quia? Repudiandae numquam aliquam esse tempore ea eaque?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae iure officiis eaque suscipit? Sed non excepturi, facere dignissimos vel in hic quia? Repudiandae numquam aliquam esse tempore ea eaque?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae iure officiis eaque suscipit? Sed non excepturi, facere dignissimos vel in hic quia? Repudiandae numquam aliquam esse tempore ea eaque?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae iure officiis eaque suscipit? Sed non excepturi, facere dignissimos vel in hic quia? Repudiandae numquam aliquam esse tempore ea eaque?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam iste consequatur ad, veniam mollitia tempore reiciendis aliquid adipisci recusandae excepturi enim rerum quaerat delectus. Officiis illum delectus temporibus quo pariatur?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae iure officiis eaque suscipit? Sed non excepturi, facere dignissimos vel in hic quia? Repudiandae numquam aliquam esse tempore ea eaque?</p>
   
    <div id="menu-bar">
        <a href="./index.html" id="home">Home</a>
        <a href="#">Contact</a>
        <a href="#">Gallery</a>
        <a href="#">Food menu</a>
        <a href="#">Coffe menu</a>
    </div>
   
    
    
</body>
</html>