
.container {
    width: 60%;
    margin: auto;
    position: relative;
}

h1 {
    text-align: center;
    color:rgb(198, 38, 38);
    margin-top: 70px;
    margin-bottom: 50px;   
}

#first-img {
    width: 200px;
    height: auto; 
    margin-top: 60px;
}

#second-img {
    width: 200px;
    height: auto;
    position:absolute;
    right: 10px;
    top: 10px;
}

#third-img {
    width: 200px;
    height: auto;
    position:absolute;
    bottom: 0px;
}

#home-link {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
}

#food-link {
    width: 15%;
    height: 20px;
    margin-left: 34%;
    padding: 5px;
    position: relative;
}

#new-page-link {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 15%;
    background-color: rgb(77, 126, 39);
    width: 200px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    padding: 5px;
}

#home-link:hover{
    background-color: rgb(25, 76, 22);  
    color:rgb(225, 225, 225);
    text-transform: uppercase;
}
