body {
    background-color: white;
    margin-top: 40px;

    .main-section {
        width: 90%;
        background-color: rgb(194, 165, 48);
        margin: 0 auto;
        border-radius: 30px;

        .hero-section {
            width: 90%;
            margin: auto;
            background-color: rgb(194, 165, 48);
            border-radius: 30px;
            padding-top: 50px
        }

        .logo-section {
            display: flex;
            justify-content: space-between;
            background-color: black;
            border-radius: 30px 30px 0px 0px;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 50px;
        }

        .search-input {
            height: 35px;
            width: 15rem;
            border-radius: 15px;
        }
        .search-input::placeholder {
            padding-left: 10px;
        }

       .logo {
            padding-left: 80px;
        }

        nav {
            height: 50px;
            background: rgb(93, 89, 89);
            display:flex;
            justify-content: center;
            align-items: center;

            .nav-list{
                display: inline;

                .nav-li {
                    display: inline;
                }
                .nav-link {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    margin-right: 7rem;
                    width: 100px;
                }
                .nav-link:active {
                    background:yellow;
                    color:black;
                }
                .nav-link:visited {
                    background: orange;
                }
                .nav-link:link {
                    background: green;
                }

                .important {
                    font-weight: bold;
                }
            }
       }

       .inside-hero-section {
            padding-bottom: 50px;
       }

    }

   .second-section {
        width: 60%;
        margin: 0 auto;
        margin-top: 120px;
        background: rgba(128, 128, 128, 0.167);
        padding: 80px;

        .first-subtitle {
            font-size: 30px;
        }

        .second-subtitle {
            font-size: 25px;
            font-weight:lighter;
        }

        .paragraph1::first-letter {
            font-size: 50px;
        }

        @for $i from 1 through 4 {
            .paragraph#{$i} {
                font-size: 14px + ($i * 2) ;
            } 
        } 

        @mixin background ($color) {

            @if $color == 1 {
                background-color: rgb(212, 212, 212);
            } @else if $color == 2 {
                background-color: rgb(154, 154, 154);
            } @else if $color == 3 {
                background-color: rgb(251, 241, 187);
            } @else if $color == 4 {
                background-color: rgb(180, 184, 125);
            }
        }   

        .paragraph1 {
            @include background(1);
        } 
        .paragraph2 {
            @include background(2);
        }
        .paragraph3 {
            @include background(3);
        }
        .paragraph4 {
            @include background(4);
        }
    }


    table, tr, td {
        border: 2px double rgb(251, 253, 204);
    }

    @function table($width, $columns) {
        $size: $width / $columns;
        @return $size;
    }

    td {
        width: table(200px, 2);
        height: table(200px, 2);
    }

    .third-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


       footer {
        background: black;
        margin-top: 100px;
        color: white;
        padding: 20px;
        display : flex;
        justify-content: center;
        align-items: center;

        .footer-p {
            font-size: 18px;
        }
    }




}
