<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Layout</title>
</head>
<body>
    <div id="first-section">
        <div id="first-square"></div>
        <div id="second-square"></div>
        <div id="third-square"></div>
    </div>

    <div id="second-section">
        <div id="fourth-square"></div>
        <div id="fifth-square"></div>
        <div id="sixth-square"></div>
    </div>

    <div id="third-section">
        <div id="seventh-square"></div>
        <div id="eighth-square"></div>
        <div id="ninth-square"></div>
    </div>
</body>
</html>