<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Layout</title>
</head>
<body>
    <div id="first-section">
        <div id="first-box"></div>
        <div id="second-box"></div>
        <div id="third-box"></div>
    </div>

    <div id="second-section">
        <div id="fourth-box"></div>
        <div id="fifth-box"></div>
        <div id="sixth-box"></div>
    </div>

    <div id="third-section">
        <div id="seventh-box"></div>
        <div id="eighth-box"></div>
        <div id="ninth-box"></div>
    </div>
</body>
</html>