
#first-section {
    display: flex;
    flex-direction: column;
}

#first-box {
    background-color: blue;
    width: 200px;
    height: 200px;
}

#second-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
}

#third-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
}


/* second section  */

#second-section {
    display: flex;
    flex-direction: column;
    position: relative;
}

#fourth-box {
    background-color: blue;
    width: 200px;
    height: 200px;
    position:relative;
    top:30px;
}

#fifth-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
    position:relative;
    left: 100px;
    bottom: 70px;
}

#sixth-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
    position: relative;
    left: 200px;
    bottom: 160px;
}

/* third section -  */


#third-section {
    display: flex;
    flex-direction: column;
    position: relative;
    /* position: absolute; */
}

#seventh-box {
    background-color: blue;
    width: 200px;
    height: 200px;
   

}

#eighth-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
    
  

}

#ninth-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
 
}