
#first-section {
    display: flex;
    flex-direction: column;
}

#first-box {
    background-color: blue;
    width: 200px;
    height: 200px;
}

#second-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
}

#third-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
}



#second-section {
    display: flex;
    flex-direction: column;
    position: relative;
   

}

#fourth-box {
    background-color: blue;
    width: 200px;
    height: 200px;
    position:absolute;
    top:10px;
}

#fifth-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
}

#sixth-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
}



#third-section {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#seventh-box {
    background-color: blue;
    width: 200px;
    height: 200px;
}

#eighth-box {
    background-color: cyan;
    width: 200px;
    height: 200px;
}

#ninth-box {
    background-color: darkblue;
    width: 200px;
    height: 200px;
}