<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasta</title>
    <link rel="stylesheet" href="./food.css">
</head>
<body>
    <nav>
        <div class="dropdown" >
            <a href="./index.html"><button class="dropdown-button" id="home">HOME</button></a>
        </div>

        <div class="dropdown" id="menu1">
            <button class="dropdown-button">Ricette di pasta</button>
            <div class="dropdown-links" id="drop1">
                <a href="#">Penne Arrabbiata</a>
                <a href="#"> Pasta Napoletana</a>
                <a href="#">Spagheti Carbonara</a>
                <a href="#">Pasta e fagioli</a>
            </div>
        </div>

        <div class="dropdown" id="menu2">
            <button class="dropdown-button">Ricette di pizza</button>
            <div class="dropdown-links" id="drop2">
                <a href="#">Margherita</a>
                <a href="#">Rustica</a>
                <a href="#">Parigina</a>
                <a href="#">Bianca</a>
            </div>
        </div>

        <div class="dropdown" id="menu3">
            <button class="dropdown-button">Ricette di lasagne</button>
            <div class="dropdown-links" id="drop3">
                <a href="#">Bianca</a>
                <a href="#">Alla Norma</a>
                <a href="#">Alla bolognese</a>
                <a href="#">Chicory lasagna</a>
            </div>
        </div>
    </nav>

    <div class="container"> 
        <div id="col1">
            <img src="./images/pexels-christina-petsos-11568775.jpg" id="bcg-images">
        </div>

        <div id="col2">
            <h2>Specialità per tutti i gusti</h2>
            <div id="pagraph">
                <p>Si mangia ai tavoli ma anche a coté delle vetrine frigo, serviti direttamente dal gastronomo, sempre circondati da scaffali letteralmente traboccanti di pasta, riso, olio, conserve, sott’oli, biscotti, dolci, caffè, champagne, vini, birre e liquori, spezie e legumi, tè e tisane e tanto altro.</p>
            </div>
        </div>
    </div>
        
     
</body>
</html>