*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: Roboto;
    src: url(./Fonts/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoB;
    src: url(./Fonts/fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(./Fonts/fonts/Roboto-Light.ttf);
}

.container {
    max-width: 100%;
    margin: 0 auto;
}


header {
    background-image: url(./Images/images/banner3.jpg);
    background-repeat: no-repeat;
    height: 750px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.menu {
    display: flex;
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.nav-li {
    list-style-type: none;
    padding: 20px 15px;
    display: inline;
}

.navbar-list {
    margin: 15px;
    font-family:  RobotoB, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    font-size: 28px;
    margin: 25px;
}

.logo > span {
    color: orange;
    border-top: 2px solid white;
    border-left: 2px solid white ;
    border-bottom: 2px solid white;
    padding-left: 5px;
    margin-right: 10px; 
}

.main-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: RobotoB, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.read-me {
    background-color: rgb(65, 131, 196);
    height: 35px;
    width: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#who-we-are {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 80px;
}

.break-lines {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.break-line {
    height: 2px;
    width: 134px;
    border-top: 2px solid black;  
    display: flex;
    justify-content: center;
    align-items: center;
}


.break-square {
    height: 15px;
    width: 15px;
    border: 2px solid black;
    margin: 0 10px;

    -ms-transform: rotate(50deg); 
    transform: rotate(50deg);
}


h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 33px;
    font-family: Roboto;
}

.items {
   display: flex;
   justify-content: center;
   font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#item-image {
    width: 300px;
    margin-top: 10px;
}



.item {
    padding: 10px;
    width: 33%;
}


.second-section-subtitle {
    color: rgb(65, 131, 196); 
    font-size: 20px;
    margin-bottom: 20px;
}

.bold-paragraph {
    font-size: 17px;
    margin-bottom: 15px;
    font-family: RobotoB;
    opacity: 0.7;
}

.li-with-arrow {
    list-style-image: url(./Images/images/arrow_bullet.png);
    margin-left: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
}


.item {
    padding: 20px;
}


#what-people-says {
    width: 85%;
    margin: 0px auto;
    margin-bottom: 170px;
}


.boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}

h4 {
    color: black;
    font-size: 15px;
    font-family: RobotoB;
   
}

.box-images {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 8px white double;
}

.box {
    margin-top: 50px;
    height: 220px;
    padding: 32px;
    background-color: #82C3F5;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    
}

.grid-row1 {
    display: flex;    
}


.grid-row2 {
    padding-right: 50px;
    line-height: 25px;
    font-size: 14px;
}

.user-name {
    padding-top: 20px;
    padding-left: 10px;
    
}


.stars {
    margin-top: 5px;
}



.squares{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Roboto ;
}

.square {
    width: 25%;
    height: 200px;
    text-align: center;
}

#house-images {
    height: 190px;
    padding-left: 60px
}

#contact-number {
    padding-bottom: 10px;
    padding-top: 13px;
}

.contact-subtitle {
    font-size: 20px;
}

.square-1 {
    background-color: rgb(59, 221, 154);
}

.square-2 {
    background-color:#FF4C81;
}

.square-3 {
    background-color: rgb(55, 109, 228);
}

.square-4 {
    background-color: #82C3F5 ;
}

.contact-subtitle {
    color: white;
    margin-top: 18%;
    padding-bottom: 10px;
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: 22px;
}

#white-paragraph {
    color: white;
    line-height: 30px;
}

#Street-address {
    margin-right: 35px;
    margin-left: 35px
}

.square-icon {
    padding-left: 20px;
}



.form {
    width: 80%;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

#maps {
    margin-bottom: 50px;
}

.input-box {
    width: 300px;
    height: 40px;
    padding: 20px;
    font-size: 15px;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 20px;
}

#submit-button {
    width: 90px;
    height: 30px;
    background-color: orange;
    border-style: none;
    color: white
}


footer {
    background-color: black;
    opacity: 0.9;
    height: 200px;
}

#footer-section {
    width: 30%;
    margin: 0 auto;
}

#footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-li {
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
}


#footer-paragraph {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ●	Desktop - 1200px  Responsive layout  */

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    header {
    background-image: url(./Images/images/banner4.png);
    height: 600px;
    }

    h1 {
        font-size: 44px;
    }

    form {
        width: 100%;
        margin-left: 20px
    }

    .grid-row2 {
        line-height: normal;
        letter-spacing: -1px;
        font-size: 18px;
    }

    #who-we-are {
        width: 90%;
        margin-bottom: 120px;
    }
    
    #item-image {
        width: 280px;
    }
    
    .item {
        margin-left: 20px
    }

    .main-heading {
        margin-top: 15%;
    }

    .second-section-subtitle {
        font-size: 19px;
    }

    .bold-paragraph {
        font-size: 16px;
    }

    .box {
        padding: 25px;
    }
}


/* ●	Tablet - 768px  Responsive layout  */

@media (max-width: 768px) {
    header {
        background-image: url(./Images/images/banner5.png);
        margin-bottom: 20px;
        height: 490px;
        width: 100%;
    }
    h1 {
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 20px;
    }
    .main-heading {
        margin-top: 12%;
    }
    .read-me {
        width: 160px;
        height: 42px;
        font-size: 17px;
    }
    .nav-li {
        padding:10px;
    }
    .nav {
        margin-top: 15px;
    }
    #who-we-are {
        margin-top: 20px;
        width: 85%;
    }

    h2 {
    font-size: 37px;
    }
    .break-line {
        width: 100px;
   }
    .break-square {
        width: 20px;
        height: 20px;
    }
    .break-lines {
        margin-bottom: 20px
    }

    .items {
        display: grid;
        grid-template-rows: 370px 240px ;
        grid-template-columns: 50% 50% ;
    }
    .item {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .item1 {
        padding-right: 20px;
    }

    .second-section-subtitle {
        padding: 0px;
        font-size: 23px;
    }
    .bold-paragraph {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .li-with-arrow {
        font-size: 14px;
    }

    .item3 {
    grid-column-start: 1;
    grid-column-end: span 2;
    }

    #item-image {
        height: 360px;
        width: auto;
    }

    #what-people-says {
        width: 75%;
    }

    .boxs {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 220px 220px;
        gap: 25px;        
    }

    .box {
        height: 220px;
        padding: 15px;
    }  
    .box-images {
        width: 70px;
        height: 70px
    }
    .box-paragraph {
        font-size: 18px;
        line-height: 22px;
    }
    
    h4 {
        font-size: 17px;
    }

    #house-images {
        width: 190px;
        height: auto;
        padding: 0px;
    }
    .squares {
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows: 200px 200px;
    }

    .square {
        width: 100%;
    }
    .contact-subtitle {
        display: flex;
        justify-content: center;
        align-items: center0;
    }
    .input-box {
        width: 32.8%;
    }
    textarea {
        margin-bottom: 5px;
    }
    #footer-list {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}




/* ●	Mobile - 500px  Responsive layout  */

@media (max-width: 500px) {
    .menu {
        background-color: white;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    
    }
    .logo {
        color: black;
        font-size: 24px;
        width: 100%;
        font-family: RobotoB;
        display: flex;
        justify-content: center;
        opacity: 0.7;
    }

    .logo > span {
    color: orange;
    border: black solid 3px; 
    border-right: transparent;
}

.navbar-list {
    background-color: #82C3F5;
    height: 140px;
    width: 75vw;
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-li > a {
    font-size: 13px;
}

.main-heading {
    height: 300px;
    width: 100%;
    background-image: url(./Images/images/banner7.png);
    background-repeat: no-repeat;
    margin: 0px;
}

h1 {
    font-size: 24px;
    line-height: 35px;
}

.read-me {
    width: 100px;
    height: 30px;
    font-size: 13px;
}

#who-we-are {
    margin-top: 60px;
}

h2 {
    font-size: 28px;
    font-family: Roboto;
}

.break-lines {
    width: 100px;
    margin: 0 auto;
}
.break-square {
    width: 30px;
    height: 14px;
    margin: 5px;    
}

.items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.boxs {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 70px;
}
.box-paragraph {
    line-height: 30px;
}

.gmap_iframe {
    height: 380px;
    margin-bottom: 50px;
}

.form {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto ;
    gap: 20px; 
}

.input-box {
    width: 100%;
    height: 40px;
    padding: 20px;
    font-size: 15px;
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 0px;
    font-size: 15px;
    padding: 20px;
}

}