body {
    background: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    margin-top: 10px;
    width: 80%;
    background: white;
    height: 95vh;
    border-radius: 30px;
}

#message-form {
    position: absolute;
    bottom: 5%;
    right: 13%;
}

#message-input {
    width: 55vw;
}

#button-submit {
    width: 15vw;
    background-color: brown;
    border: none;
    color: white;
    height: 22px;
}