body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;
}

ul li {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: white
}

a {
    color: lightskyblue;
    text-decoration: none;
    padding: 10px;
}

ul {
    margin-top: 25px;
}

a:hover {
    background-color: rgb(80, 178, 238);
    color: white;
    padding: 10px;    
}


#header {
    border: 2px solid white;
    margin-bottom: 40px;
}

#header-image {
    height: 510px;
    width: 94%;
    padding: 30px;
}

.image {
    height: 200px;
    width:auto;
}


.image-item {
    display: inline-block;
}

#gallery {
    display: flex;
    gap: 30px;
}

p {
    color: white;
}